--
-- PostgreSQL database dump
--

\restrict DLOnG4VuWTWHBJyolGpNsNRUfB71gHRgUd41wXc8C1Fd6Ixlv9aGmGTkSuKE02c

-- Dumped from database version 16.15 (Debian 16.15-1.pgdg12+2)
-- Dumped by pg_dump version 16.15 (Debian 16.15-1.pgdg12+2)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

ALTER TABLE IF EXISTS ONLY public.suppression_entries DROP CONSTRAINT IF EXISTS "suppression_entries_userId_fkey";
ALTER TABLE IF EXISTS ONLY public.skills DROP CONSTRAINT IF EXISTS "skills_userId_fkey";
ALTER TABLE IF EXISTS ONLY public.sessions DROP CONSTRAINT IF EXISTS "sessions_userId_fkey";
ALTER TABLE IF EXISTS ONLY public.projects DROP CONSTRAINT IF EXISTS "projects_userId_fkey";
ALTER TABLE IF EXISTS ONLY public.profiles DROP CONSTRAINT IF EXISTS "profiles_userId_fkey";
ALTER TABLE IF EXISTS ONLY public.products DROP CONSTRAINT IF EXISTS "products_userId_fkey";
ALTER TABLE IF EXISTS ONLY public.outreach_messages DROP CONSTRAINT IF EXISTS "outreach_messages_userId_fkey";
ALTER TABLE IF EXISTS ONLY public.outreach_messages DROP CONSTRAINT IF EXISTS "outreach_messages_contactId_fkey";
ALTER TABLE IF EXISTS ONLY public.outreach_messages DROP CONSTRAINT IF EXISTS "outreach_messages_companyId_fkey";
ALTER TABLE IF EXISTS ONLY public.opportunity_requirements DROP CONSTRAINT IF EXISTS "opportunity_requirements_opportunityId_fkey";
ALTER TABLE IF EXISTS ONLY public.opportunity_matches DROP CONSTRAINT IF EXISTS "opportunity_matches_recommendedCvId_fkey";
ALTER TABLE IF EXISTS ONLY public.opportunity_matches DROP CONSTRAINT IF EXISTS "opportunity_matches_opportunityId_fkey";
ALTER TABLE IF EXISTS ONLY public.opportunities DROP CONSTRAINT IF EXISTS "opportunities_userId_fkey";
ALTER TABLE IF EXISTS ONLY public.notifications DROP CONSTRAINT IF EXISTS "notifications_userId_fkey";
ALTER TABLE IF EXISTS ONLY public.llm_calls DROP CONSTRAINT IF EXISTS "llm_calls_userId_fkey";
ALTER TABLE IF EXISTS ONLY public.job_preferences DROP CONSTRAINT IF EXISTS "job_preferences_userId_fkey";
ALTER TABLE IF EXISTS ONLY public.experiences DROP CONSTRAINT IF EXISTS "experiences_userId_fkey";
ALTER TABLE IF EXISTS ONLY public.cvs DROP CONSTRAINT IF EXISTS "cvs_userId_fkey";
ALTER TABLE IF EXISTS ONLY public.contacts DROP CONSTRAINT IF EXISTS "contacts_companyId_fkey";
ALTER TABLE IF EXISTS ONLY public.companies DROP CONSTRAINT IF EXISTS "companies_userId_fkey";
ALTER TABLE IF EXISTS ONLY public.audit_logs DROP CONSTRAINT IF EXISTS "audit_logs_userId_fkey";
ALTER TABLE IF EXISTS ONLY public.approval_records DROP CONSTRAINT IF EXISTS "approval_records_userId_fkey";
ALTER TABLE IF EXISTS ONLY public.approval_records DROP CONSTRAINT IF EXISTS "approval_records_applyPackId_fkey";
ALTER TABLE IF EXISTS ONLY public.apply_packs DROP CONSTRAINT IF EXISTS "apply_packs_userId_fkey";
ALTER TABLE IF EXISTS ONLY public.apply_packs DROP CONSTRAINT IF EXISTS "apply_packs_opportunityId_fkey";
ALTER TABLE IF EXISTS ONLY public.answer_bank_items DROP CONSTRAINT IF EXISTS "answer_bank_items_userId_fkey";
DROP INDEX IF EXISTS public.users_slug_key;
DROP INDEX IF EXISTS public.users_email_key;
DROP INDEX IF EXISTS public."suppression_entries_userId_idx";
DROP INDEX IF EXISTS public."suppression_entries_userId_domain_key";
DROP INDEX IF EXISTS public."skills_userId_name_key";
DROP INDEX IF EXISTS public."skills_userId_idx";
DROP INDEX IF EXISTS public.settings_key_key;
DROP INDEX IF EXISTS public."sessions_userId_idx";
DROP INDEX IF EXISTS public."sessions_refreshToken_key";
DROP INDEX IF EXISTS public."projects_userId_idx";
DROP INDEX IF EXISTS public."profiles_userId_key";
DROP INDEX IF EXISTS public."products_userId_idx";
DROP INDEX IF EXISTS public.products_slug_key;
DROP INDEX IF EXISTS public.products_category_idx;
DROP INDEX IF EXISTS public."outreach_messages_userId_idx";
DROP INDEX IF EXISTS public.outreach_messages_status_idx;
DROP INDEX IF EXISTS public."outreach_messages_optOutToken_key";
DROP INDEX IF EXISTS public."outreach_messages_companyId_idx";
DROP INDEX IF EXISTS public."opportunity_requirements_opportunityId_key";
DROP INDEX IF EXISTS public."opportunity_matches_opportunityId_key";
DROP INDEX IF EXISTS public."opportunities_userId_type_idx";
DROP INDEX IF EXISTS public."opportunities_userId_status_idx";
DROP INDEX IF EXISTS public."opportunities_userId_idx";
DROP INDEX IF EXISTS public."opportunities_userId_contentHash_key";
DROP INDEX IF EXISTS public."notifications_userId_read_idx";
DROP INDEX IF EXISTS public."llm_calls_userId_idx";
DROP INDEX IF EXISTS public."llm_calls_promptHash_idx";
DROP INDEX IF EXISTS public."llm_calls_createdAt_idx";
DROP INDEX IF EXISTS public."job_preferences_userId_key";
DROP INDEX IF EXISTS public."experiences_userId_idx";
DROP INDEX IF EXISTS public."cvs_userId_idx";
DROP INDEX IF EXISTS public."contacts_companyId_idx";
DROP INDEX IF EXISTS public."companies_userId_status_idx";
DROP INDEX IF EXISTS public."companies_userId_placeId_key";
DROP INDEX IF EXISTS public."companies_userId_idx";
DROP INDEX IF EXISTS public."audit_logs_userId_idx";
DROP INDEX IF EXISTS public."audit_logs_createdAt_idx";
DROP INDEX IF EXISTS public."approval_records_userId_idx";
DROP INDEX IF EXISTS public."approval_records_applyPackId_key";
DROP INDEX IF EXISTS public."apply_packs_verifierStatus_idx";
DROP INDEX IF EXISTS public."apply_packs_userId_idx";
DROP INDEX IF EXISTS public."apply_packs_opportunityId_key";
DROP INDEX IF EXISTS public."answer_bank_items_userId_idx";
ALTER TABLE IF EXISTS ONLY public.users DROP CONSTRAINT IF EXISTS users_pkey;
ALTER TABLE IF EXISTS ONLY public.suppression_entries DROP CONSTRAINT IF EXISTS suppression_entries_pkey;
ALTER TABLE IF EXISTS ONLY public.skills DROP CONSTRAINT IF EXISTS skills_pkey;
ALTER TABLE IF EXISTS ONLY public.settings DROP CONSTRAINT IF EXISTS settings_pkey;
ALTER TABLE IF EXISTS ONLY public.sessions DROP CONSTRAINT IF EXISTS sessions_pkey;
ALTER TABLE IF EXISTS ONLY public.projects DROP CONSTRAINT IF EXISTS projects_pkey;
ALTER TABLE IF EXISTS ONLY public.profiles DROP CONSTRAINT IF EXISTS profiles_pkey;
ALTER TABLE IF EXISTS ONLY public.products DROP CONSTRAINT IF EXISTS products_pkey;
ALTER TABLE IF EXISTS ONLY public.outreach_messages DROP CONSTRAINT IF EXISTS outreach_messages_pkey;
ALTER TABLE IF EXISTS ONLY public.opportunity_requirements DROP CONSTRAINT IF EXISTS opportunity_requirements_pkey;
ALTER TABLE IF EXISTS ONLY public.opportunity_matches DROP CONSTRAINT IF EXISTS opportunity_matches_pkey;
ALTER TABLE IF EXISTS ONLY public.opportunities DROP CONSTRAINT IF EXISTS opportunities_pkey;
ALTER TABLE IF EXISTS ONLY public.notifications DROP CONSTRAINT IF EXISTS notifications_pkey;
ALTER TABLE IF EXISTS ONLY public.llm_calls DROP CONSTRAINT IF EXISTS llm_calls_pkey;
ALTER TABLE IF EXISTS ONLY public.job_preferences DROP CONSTRAINT IF EXISTS job_preferences_pkey;
ALTER TABLE IF EXISTS ONLY public.experiences DROP CONSTRAINT IF EXISTS experiences_pkey;
ALTER TABLE IF EXISTS ONLY public.cvs DROP CONSTRAINT IF EXISTS cvs_pkey;
ALTER TABLE IF EXISTS ONLY public.contacts DROP CONSTRAINT IF EXISTS contacts_pkey;
ALTER TABLE IF EXISTS ONLY public.companies DROP CONSTRAINT IF EXISTS companies_pkey;
ALTER TABLE IF EXISTS ONLY public.audit_logs DROP CONSTRAINT IF EXISTS audit_logs_pkey;
ALTER TABLE IF EXISTS ONLY public.approval_records DROP CONSTRAINT IF EXISTS approval_records_pkey;
ALTER TABLE IF EXISTS ONLY public.apply_packs DROP CONSTRAINT IF EXISTS apply_packs_pkey;
ALTER TABLE IF EXISTS ONLY public.answer_bank_items DROP CONSTRAINT IF EXISTS answer_bank_items_pkey;
ALTER TABLE IF EXISTS ONLY public._prisma_migrations DROP CONSTRAINT IF EXISTS _prisma_migrations_pkey;
DROP TABLE IF EXISTS public.users;
DROP TABLE IF EXISTS public.suppression_entries;
DROP TABLE IF EXISTS public.skills;
DROP TABLE IF EXISTS public.settings;
DROP TABLE IF EXISTS public.sessions;
DROP TABLE IF EXISTS public.projects;
DROP TABLE IF EXISTS public.profiles;
DROP TABLE IF EXISTS public.products;
DROP TABLE IF EXISTS public.outreach_messages;
DROP TABLE IF EXISTS public.opportunity_requirements;
DROP TABLE IF EXISTS public.opportunity_matches;
DROP TABLE IF EXISTS public.opportunities;
DROP TABLE IF EXISTS public.notifications;
DROP TABLE IF EXISTS public.llm_calls;
DROP TABLE IF EXISTS public.job_preferences;
DROP TABLE IF EXISTS public.experiences;
DROP TABLE IF EXISTS public.cvs;
DROP TABLE IF EXISTS public.contacts;
DROP TABLE IF EXISTS public.companies;
DROP TABLE IF EXISTS public.audit_logs;
DROP TABLE IF EXISTS public.approval_records;
DROP TABLE IF EXISTS public.apply_packs;
DROP TABLE IF EXISTS public.answer_bank_items;
DROP TABLE IF EXISTS public._prisma_migrations;
DROP TYPE IF EXISTS public."SkillLevel";
DROP TYPE IF EXISTS public."Role";
DROP TYPE IF EXISTS public."OutreachStatus";
DROP TYPE IF EXISTS public."OpportunityType";
DROP TYPE IF EXISTS public."OpportunityStatus";
DROP TYPE IF EXISTS public."LlmProvider";
DROP TYPE IF EXISTS public."LeadStatus";
DROP TYPE IF EXISTS public."AuditAction";
DROP EXTENSION IF EXISTS vector;
--
-- Name: vector; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS vector WITH SCHEMA public;


--
-- Name: EXTENSION vector; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION vector IS 'vector data type and ivfflat and hnsw access methods';


--
-- Name: AuditAction; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."AuditAction" AS ENUM (
    'LOGIN',
    'LOGOUT',
    'PASSWORD_CHANGE',
    'SETTING_UPDATE',
    'RECORD_CREATE',
    'RECORD_UPDATE',
    'RECORD_DELETE'
);


ALTER TYPE public."AuditAction" OWNER TO postgres;

--
-- Name: LeadStatus; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."LeadStatus" AS ENUM (
    'RESEARCHING',
    'QUALIFIED',
    'DRAFT_READY',
    'CONTACTED',
    'REPLIED',
    'MEETING',
    'PROPOSAL_SENT',
    'WON',
    'LOST',
    'NOT_INTERESTED'
);


ALTER TYPE public."LeadStatus" OWNER TO postgres;

--
-- Name: LlmProvider; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."LlmProvider" AS ENUM (
    'GEMINI',
    'GROQ',
    'OLLAMA'
);


ALTER TYPE public."LlmProvider" OWNER TO postgres;

--
-- Name: OpportunityStatus; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."OpportunityStatus" AS ENUM (
    'DISCOVERED',
    'QUALIFIED',
    'DRAFT_READY',
    'AWAITING_APPROVAL',
    'APPLIED',
    'VIEWED',
    'SHORTLISTED',
    'INTERVIEW',
    'OFFER',
    'REJECTED',
    'WITHDRAWN',
    'CLOSED'
);


ALTER TYPE public."OpportunityStatus" OWNER TO postgres;

--
-- Name: OpportunityType; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."OpportunityType" AS ENUM (
    'JOB',
    'FREELANCE',
    'LEAD'
);


ALTER TYPE public."OpportunityType" OWNER TO postgres;

--
-- Name: OutreachStatus; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."OutreachStatus" AS ENUM (
    'DRAFT',
    'APPROVED',
    'SENT',
    'REJECTED'
);


ALTER TYPE public."OutreachStatus" OWNER TO postgres;

--
-- Name: Role; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."Role" AS ENUM (
    'SUPER_ADMIN',
    'USER'
);


ALTER TYPE public."Role" OWNER TO postgres;

--
-- Name: SkillLevel; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."SkillLevel" AS ENUM (
    'BEGINNER',
    'INTERMEDIATE',
    'EXPERT'
);


ALTER TYPE public."SkillLevel" OWNER TO postgres;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: _prisma_migrations; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public._prisma_migrations (
    id character varying(36) NOT NULL,
    checksum character varying(64) NOT NULL,
    finished_at timestamp with time zone,
    migration_name character varying(255) NOT NULL,
    logs text,
    rolled_back_at timestamp with time zone,
    started_at timestamp with time zone DEFAULT now() NOT NULL,
    applied_steps_count integer DEFAULT 0 NOT NULL
);


ALTER TABLE public._prisma_migrations OWNER TO postgres;

--
-- Name: answer_bank_items; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.answer_bank_items (
    id text NOT NULL,
    "userId" text NOT NULL,
    question text NOT NULL,
    answer text NOT NULL,
    tags jsonb DEFAULT '[]'::jsonb NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.answer_bank_items OWNER TO postgres;

--
-- Name: apply_packs; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.apply_packs (
    id text NOT NULL,
    "opportunityId" text NOT NULL,
    "userId" text NOT NULL,
    "coverNote" text NOT NULL,
    "coverNoteEdited" text,
    "selectedCvId" text,
    "answersFilled" jsonb DEFAULT '[]'::jsonb NOT NULL,
    "verifierStatus" text DEFAULT 'pending'::text NOT NULL,
    "verifierIssues" jsonb DEFAULT '[]'::jsonb NOT NULL,
    "promptVersion" text DEFAULT 'v1'::text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.apply_packs OWNER TO postgres;

--
-- Name: approval_records; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.approval_records (
    id text NOT NULL,
    "applyPackId" text NOT NULL,
    "userId" text NOT NULL,
    decision text NOT NULL,
    notes text,
    "decidedAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.approval_records OWNER TO postgres;

--
-- Name: audit_logs; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.audit_logs (
    id text NOT NULL,
    "userId" text,
    action public."AuditAction" NOT NULL,
    entity text,
    "entityId" text,
    meta jsonb,
    "requestId" text,
    "ipAddress" text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.audit_logs OWNER TO postgres;

--
-- Name: companies; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.companies (
    id text NOT NULL,
    "userId" text NOT NULL,
    name text NOT NULL,
    "placeId" text,
    website text,
    phone text,
    address text,
    city text,
    country text,
    "businessType" text,
    status public."LeadStatus" DEFAULT 'RESEARCHING'::public."LeadStatus" NOT NULL,
    "qualificationScore" integer,
    "needSignalsJson" jsonb DEFAULT '[]'::jsonb NOT NULL,
    notes text,
    "lastContactedAt" timestamp(3) without time zone,
    "nextFollowUpAt" timestamp(3) without time zone,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.companies OWNER TO postgres;

--
-- Name: contacts; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.contacts (
    id text NOT NULL,
    "companyId" text NOT NULL,
    name text NOT NULL,
    role text,
    email text,
    phone text,
    "linkedinUrl" text,
    "isPrimary" boolean DEFAULT false NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.contacts OWNER TO postgres;

--
-- Name: cvs; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.cvs (
    id text NOT NULL,
    "userId" text NOT NULL,
    label text NOT NULL,
    filename text NOT NULL,
    "storagePath" text NOT NULL,
    "mimeType" text NOT NULL,
    "sizeBytes" integer NOT NULL,
    tags jsonb DEFAULT '[]'::jsonb NOT NULL,
    "isDefault" boolean DEFAULT false NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.cvs OWNER TO postgres;

--
-- Name: experiences; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.experiences (
    id text NOT NULL,
    "userId" text NOT NULL,
    title text NOT NULL,
    company text NOT NULL,
    location text,
    country text,
    "startDate" timestamp(3) without time zone NOT NULL,
    "endDate" timestamp(3) without time zone,
    "isCurrent" boolean DEFAULT false NOT NULL,
    bullets jsonb DEFAULT '[]'::jsonb NOT NULL,
    "techStack" jsonb DEFAULT '[]'::jsonb NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.experiences OWNER TO postgres;

--
-- Name: job_preferences; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.job_preferences (
    id text NOT NULL,
    "userId" text NOT NULL,
    "targetRoles" jsonb DEFAULT '[]'::jsonb NOT NULL,
    "targetCountries" jsonb DEFAULT '[]'::jsonb NOT NULL,
    "minSalaryUsd" integer,
    "remoteOk" boolean DEFAULT true NOT NULL,
    "blacklistCompanies" jsonb DEFAULT '[]'::jsonb NOT NULL,
    "blacklistKeywords" jsonb DEFAULT '[]'::jsonb NOT NULL,
    "preferredIndustries" jsonb DEFAULT '[]'::jsonb NOT NULL,
    "scoreWeights" jsonb,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.job_preferences OWNER TO postgres;

--
-- Name: llm_calls; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.llm_calls (
    id text NOT NULL,
    "userId" text,
    provider public."LlmProvider" NOT NULL,
    model text NOT NULL,
    "promptHash" text NOT NULL,
    cached boolean DEFAULT false NOT NULL,
    "tokensIn" integer,
    "tokensOut" integer,
    "costUsd" double precision,
    "durationMs" integer,
    purpose text,
    status text DEFAULT 'ok'::text NOT NULL,
    "errorMsg" text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.llm_calls OWNER TO postgres;

--
-- Name: notifications; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.notifications (
    id text NOT NULL,
    "userId" text NOT NULL,
    title text NOT NULL,
    body text,
    link text,
    read boolean DEFAULT false NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.notifications OWNER TO postgres;

--
-- Name: opportunities; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.opportunities (
    id text NOT NULL,
    "userId" text NOT NULL,
    type public."OpportunityType" DEFAULT 'JOB'::public."OpportunityType" NOT NULL,
    status public."OpportunityStatus" DEFAULT 'DISCOVERED'::public."OpportunityStatus" NOT NULL,
    "contentHash" text NOT NULL,
    fingerprint text,
    "sourceType" text,
    "sourceRef" text,
    title text,
    company text,
    country text,
    city text,
    url text,
    "rawText" text NOT NULL,
    language text DEFAULT 'en'::text,
    "postedAt" timestamp(3) without time zone,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.opportunities OWNER TO postgres;

--
-- Name: opportunity_matches; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.opportunity_matches (
    id text NOT NULL,
    "opportunityId" text NOT NULL,
    score integer NOT NULL,
    "breakdownJson" jsonb NOT NULL,
    "gapsJson" jsonb DEFAULT '[]'::jsonb NOT NULL,
    "recommendedCvId" text,
    "scoredAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.opportunity_matches OWNER TO postgres;

--
-- Name: opportunity_requirements; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.opportunity_requirements (
    id text NOT NULL,
    "opportunityId" text NOT NULL,
    "fieldsJson" jsonb NOT NULL,
    "evidenceJson" jsonb NOT NULL,
    "promptVersion" text NOT NULL,
    model text NOT NULL,
    "extractedAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.opportunity_requirements OWNER TO postgres;

--
-- Name: outreach_messages; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.outreach_messages (
    id text NOT NULL,
    "companyId" text NOT NULL,
    "contactId" text,
    "userId" text NOT NULL,
    channel text DEFAULT 'EMAIL'::text NOT NULL,
    subject text NOT NULL,
    body text NOT NULL,
    status public."OutreachStatus" DEFAULT 'DRAFT'::public."OutreachStatus" NOT NULL,
    "sentAt" timestamp(3) without time zone,
    "openedAt" timestamp(3) without time zone,
    "repliedAt" timestamp(3) without time zone,
    "approvalId" text,
    "optOutToken" text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.outreach_messages OWNER TO postgres;

--
-- Name: products; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.products (
    id text NOT NULL,
    "userId" text NOT NULL,
    slug text NOT NULL,
    title text NOT NULL,
    tagline text,
    description text NOT NULL,
    category text DEFAULT 'AI_AUTOMATION'::text NOT NULL,
    features jsonb DEFAULT '[]'::jsonb NOT NULL,
    "priceUsd" integer,
    "priceModel" text DEFAULT 'FIXED'::text NOT NULL,
    "demoUrl" text,
    badge text,
    "isPublic" boolean DEFAULT true NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.products OWNER TO postgres;

--
-- Name: profiles; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.profiles (
    id text NOT NULL,
    "userId" text NOT NULL,
    "fullName" text,
    headline text,
    summary text,
    phone text,
    location text,
    country text,
    "linkedinUrl" text,
    "githubUrl" text,
    "portfolioUrl" text,
    languages jsonb DEFAULT '[]'::jsonb NOT NULL,
    "visaStatus" text,
    "noticePeriodDays" integer,
    "willingToRelocate" boolean DEFAULT false NOT NULL,
    "relocationCountries" jsonb DEFAULT '[]'::jsonb NOT NULL,
    "telegramChatId" text,
    "onboardingDone" boolean DEFAULT false NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.profiles OWNER TO postgres;

--
-- Name: projects; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.projects (
    id text NOT NULL,
    "userId" text NOT NULL,
    title text NOT NULL,
    description text,
    "techStack" jsonb DEFAULT '[]'::jsonb NOT NULL,
    url text,
    "repoUrl" text,
    highlights jsonb DEFAULT '[]'::jsonb NOT NULL,
    tags jsonb DEFAULT '[]'::jsonb NOT NULL,
    "startDate" timestamp(3) without time zone,
    "endDate" timestamp(3) without time zone,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    featured boolean DEFAULT false NOT NULL,
    "isPublic" boolean DEFAULT true NOT NULL
);


ALTER TABLE public.projects OWNER TO postgres;

--
-- Name: sessions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.sessions (
    id text NOT NULL,
    "userId" text NOT NULL,
    "refreshToken" text NOT NULL,
    "userAgent" text,
    "ipAddress" text,
    "expiresAt" timestamp(3) without time zone NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.sessions OWNER TO postgres;

--
-- Name: settings; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.settings (
    id text NOT NULL,
    key text NOT NULL,
    value jsonb NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.settings OWNER TO postgres;

--
-- Name: skills; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.skills (
    id text NOT NULL,
    "userId" text NOT NULL,
    name text NOT NULL,
    level public."SkillLevel" DEFAULT 'INTERMEDIATE'::public."SkillLevel" NOT NULL,
    "yearsOfExp" double precision,
    category text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.skills OWNER TO postgres;

--
-- Name: suppression_entries; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.suppression_entries (
    id text NOT NULL,
    "userId" text NOT NULL,
    domain text,
    email text,
    reason text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.suppression_entries OWNER TO postgres;

--
-- Name: users; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.users (
    id text NOT NULL,
    email text NOT NULL,
    "passwordHash" text NOT NULL,
    role public."Role" DEFAULT 'USER'::public."Role" NOT NULL,
    "isActive" boolean DEFAULT true NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    slug text,
    "twoFactorEnabled" boolean DEFAULT false NOT NULL,
    "twoFactorSecret" text
);


ALTER TABLE public.users OWNER TO postgres;

--
-- Data for Name: _prisma_migrations; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: answer_bank_items; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.answer_bank_items (id, "userId", question, answer, tags, "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: apply_packs; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: approval_records; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.approval_records (id, "applyPackId", "userId", decision, notes, "decidedAt") FROM stdin;
cmurascsn006hm0wv0qsxag30	cmurakvpt001lm0wv65s820mo	cmuofz46q0000fgwvhu5zh5ze	approved	\N	2026-10-02 18:29:46.055
\.


--
-- Data for Name: audit_logs; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: companies; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.companies (id, "userId", name, "placeId", website, phone, address, city, country, "businessType", status, "qualificationScore", "needSignalsJson", notes, "lastContactedAt", "nextFollowUpAt", "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: contacts; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.contacts (id, "companyId", name, role, email, phone, "linkedinUrl", "isPrimary", "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: cvs; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.cvs (id, "userId", label, filename, "storagePath", "mimeType", "sizeBytes", tags, "isDefault", "createdAt", "updatedAt") FROM stdin;
cmupnmtxa0002ckwvmwp8jo4z	cmuofz46q0000fgwvhu5zh5ze	Ghulam_Ghaus_GS	650b7123-3b5c-47bc-a044-3d634955f70c.pdf	D:\\PL\\job-agent\\backend\\uploads\\650b7123-3b5c-47bc-a044-3d634955f70c.pdf	application/pdf	470294	["parsed", "master"]	t	2026-10-01 14:53:50.975	2026-10-01 14:53:50.975
\.


--
-- Data for Name: experiences; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: job_preferences; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.job_preferences (id, "userId", "targetRoles", "targetCountries", "minSalaryUsd", "remoteOk", "blacklistCompanies", "blacklistKeywords", "preferredIndustries", "scoreWeights", "createdAt", "updatedAt") FROM stdin;
cmupl1l0200078owvn7l5plb1	cmuofz46q0000fgwvhu5zh5ze	["Backend Engineer", "Voice AI Engineer", "AI Engineer", "Software Engineer", "Full Stack Engineer"]	["Saudi Arabia", "United Arab Emirates"]	\N	t	[]	[]	["SaaS", "Artificial Intelligence", "Healthcare", "Enterprise Software"]	\N	2026-10-01 13:41:20.402	2026-10-01 19:25:16.656
\.


--
-- Data for Name: llm_calls; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: notifications; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.notifications (id, "userId", title, body, link, read, "createdAt") FROM stdin;
\.


--
-- Data for Name: opportunities; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: opportunity_matches; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: opportunity_requirements; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: outreach_messages; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.outreach_messages (id, "companyId", "contactId", "userId", channel, subject, body, status, "sentAt", "openedAt", "repliedAt", "approvalId", "optOutToken", "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: products; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: profiles; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: projects; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.projects (id, "userId", title, description, "techStack", url, "repoUrl", highlights, tags, "startDate", "endDate", "createdAt", "updatedAt", featured, "isPublic") FROM stdin;
\.


--
-- Data for Name: sessions; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: settings; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.settings (id, key, value, "updatedAt") FROM stdin;
cmuofz4860001fgwv6lf5959r	app_config	{"appName": "AI Job & Client Agent", "version": "0.1.0", "allowRegistration": false, "maxConcurrentSearches": 5}	2026-09-30 18:31:41.094
cmuofz48s0002fgwv99dr1y1u	notification_preferences	{"emailEnabled": false, "browserEnabled": true, "telegramEnabled": false}	2026-09-30 18:31:41.116
\.


--
-- Data for Name: skills; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: suppression_entries; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.suppression_entries (id, "userId", domain, email, reason, "createdAt") FROM stdin;
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.users (id, email, "passwordHash", role, "isActive", "createdAt", "updatedAt", slug, "twoFactorEnabled", "twoFactorSecret") FROM stdin;
cmuofz46q0000fgwvhu5zh5ze	admin@jobagent.local	$argon2id$v=19$m=65536,p=4,t=3$f5KNVjJH10Ip1QJG164G1w$sdfE3yGPacGcRWmJFvjFDqwAyLXSPigbOemLJybDiOw	SUPER_ADMIN	t	2026-09-30 18:31:41.042	2026-10-03 14:11:48.671	ghulam-ghaus	f	\N
\.


--
-- Name: _prisma_migrations _prisma_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public._prisma_migrations
    ADD CONSTRAINT _prisma_migrations_pkey PRIMARY KEY (id);


--
-- Name: answer_bank_items answer_bank_items_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.answer_bank_items
    ADD CONSTRAINT answer_bank_items_pkey PRIMARY KEY (id);


--
-- Name: apply_packs apply_packs_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.apply_packs
    ADD CONSTRAINT apply_packs_pkey PRIMARY KEY (id);


--
-- Name: approval_records approval_records_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.approval_records
    ADD CONSTRAINT approval_records_pkey PRIMARY KEY (id);


--
-- Name: audit_logs audit_logs_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.audit_logs
    ADD CONSTRAINT audit_logs_pkey PRIMARY KEY (id);


--
-- Name: companies companies_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.companies
    ADD CONSTRAINT companies_pkey PRIMARY KEY (id);


--
-- Name: contacts contacts_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.contacts
    ADD CONSTRAINT contacts_pkey PRIMARY KEY (id);


--
-- Name: cvs cvs_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.cvs
    ADD CONSTRAINT cvs_pkey PRIMARY KEY (id);


--
-- Name: experiences experiences_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.experiences
    ADD CONSTRAINT experiences_pkey PRIMARY KEY (id);


--
-- Name: job_preferences job_preferences_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.job_preferences
    ADD CONSTRAINT job_preferences_pkey PRIMARY KEY (id);


--
-- Name: llm_calls llm_calls_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.llm_calls
    ADD CONSTRAINT llm_calls_pkey PRIMARY KEY (id);


--
-- Name: notifications notifications_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.notifications
    ADD CONSTRAINT notifications_pkey PRIMARY KEY (id);


--
-- Name: opportunities opportunities_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.opportunities
    ADD CONSTRAINT opportunities_pkey PRIMARY KEY (id);


--
-- Name: opportunity_matches opportunity_matches_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.opportunity_matches
    ADD CONSTRAINT opportunity_matches_pkey PRIMARY KEY (id);


--
-- Name: opportunity_requirements opportunity_requirements_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.opportunity_requirements
    ADD CONSTRAINT opportunity_requirements_pkey PRIMARY KEY (id);


--
-- Name: outreach_messages outreach_messages_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.outreach_messages
    ADD CONSTRAINT outreach_messages_pkey PRIMARY KEY (id);


--
-- Name: products products_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.products
    ADD CONSTRAINT products_pkey PRIMARY KEY (id);


--
-- Name: profiles profiles_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.profiles
    ADD CONSTRAINT profiles_pkey PRIMARY KEY (id);


--
-- Name: projects projects_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.projects
    ADD CONSTRAINT projects_pkey PRIMARY KEY (id);


--
-- Name: sessions sessions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.sessions
    ADD CONSTRAINT sessions_pkey PRIMARY KEY (id);


--
-- Name: settings settings_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.settings
    ADD CONSTRAINT settings_pkey PRIMARY KEY (id);


--
-- Name: skills skills_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.skills
    ADD CONSTRAINT skills_pkey PRIMARY KEY (id);


--
-- Name: suppression_entries suppression_entries_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.suppression_entries
    ADD CONSTRAINT suppression_entries_pkey PRIMARY KEY (id);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: answer_bank_items_userId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "answer_bank_items_userId_idx" ON public.answer_bank_items USING btree ("userId");


--
-- Name: apply_packs_opportunityId_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "apply_packs_opportunityId_key" ON public.apply_packs USING btree ("opportunityId");


--
-- Name: apply_packs_userId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "apply_packs_userId_idx" ON public.apply_packs USING btree ("userId");


--
-- Name: apply_packs_verifierStatus_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "apply_packs_verifierStatus_idx" ON public.apply_packs USING btree ("verifierStatus");


--
-- Name: approval_records_applyPackId_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "approval_records_applyPackId_key" ON public.approval_records USING btree ("applyPackId");


--
-- Name: approval_records_userId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "approval_records_userId_idx" ON public.approval_records USING btree ("userId");


--
-- Name: audit_logs_createdAt_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "audit_logs_createdAt_idx" ON public.audit_logs USING btree ("createdAt");


--
-- Name: audit_logs_userId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "audit_logs_userId_idx" ON public.audit_logs USING btree ("userId");


--
-- Name: companies_userId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "companies_userId_idx" ON public.companies USING btree ("userId");


--
-- Name: companies_userId_placeId_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "companies_userId_placeId_key" ON public.companies USING btree ("userId", "placeId");


--
-- Name: companies_userId_status_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "companies_userId_status_idx" ON public.companies USING btree ("userId", status);


--
-- Name: contacts_companyId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "contacts_companyId_idx" ON public.contacts USING btree ("companyId");


--
-- Name: cvs_userId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "cvs_userId_idx" ON public.cvs USING btree ("userId");


--
-- Name: experiences_userId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "experiences_userId_idx" ON public.experiences USING btree ("userId");


--
-- Name: job_preferences_userId_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "job_preferences_userId_key" ON public.job_preferences USING btree ("userId");


--
-- Name: llm_calls_createdAt_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "llm_calls_createdAt_idx" ON public.llm_calls USING btree ("createdAt");


--
-- Name: llm_calls_promptHash_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "llm_calls_promptHash_idx" ON public.llm_calls USING btree ("promptHash");


--
-- Name: llm_calls_userId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "llm_calls_userId_idx" ON public.llm_calls USING btree ("userId");


--
-- Name: notifications_userId_read_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "notifications_userId_read_idx" ON public.notifications USING btree ("userId", read);


--
-- Name: opportunities_userId_contentHash_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "opportunities_userId_contentHash_key" ON public.opportunities USING btree ("userId", "contentHash");


--
-- Name: opportunities_userId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "opportunities_userId_idx" ON public.opportunities USING btree ("userId");


--
-- Name: opportunities_userId_status_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "opportunities_userId_status_idx" ON public.opportunities USING btree ("userId", status);


--
-- Name: opportunities_userId_type_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "opportunities_userId_type_idx" ON public.opportunities USING btree ("userId", type);


--
-- Name: opportunity_matches_opportunityId_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "opportunity_matches_opportunityId_key" ON public.opportunity_matches USING btree ("opportunityId");


--
-- Name: opportunity_requirements_opportunityId_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "opportunity_requirements_opportunityId_key" ON public.opportunity_requirements USING btree ("opportunityId");


--
-- Name: outreach_messages_companyId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "outreach_messages_companyId_idx" ON public.outreach_messages USING btree ("companyId");


--
-- Name: outreach_messages_optOutToken_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "outreach_messages_optOutToken_key" ON public.outreach_messages USING btree ("optOutToken");


--
-- Name: outreach_messages_status_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX outreach_messages_status_idx ON public.outreach_messages USING btree (status);


--
-- Name: outreach_messages_userId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "outreach_messages_userId_idx" ON public.outreach_messages USING btree ("userId");


--
-- Name: products_category_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX products_category_idx ON public.products USING btree (category);


--
-- Name: products_slug_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX products_slug_key ON public.products USING btree (slug);


--
-- Name: products_userId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "products_userId_idx" ON public.products USING btree ("userId");


--
-- Name: profiles_userId_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "profiles_userId_key" ON public.profiles USING btree ("userId");


--
-- Name: projects_userId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "projects_userId_idx" ON public.projects USING btree ("userId");


--
-- Name: sessions_refreshToken_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "sessions_refreshToken_key" ON public.sessions USING btree ("refreshToken");


--
-- Name: sessions_userId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "sessions_userId_idx" ON public.sessions USING btree ("userId");


--
-- Name: settings_key_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX settings_key_key ON public.settings USING btree (key);


--
-- Name: skills_userId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "skills_userId_idx" ON public.skills USING btree ("userId");


--
-- Name: skills_userId_name_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "skills_userId_name_key" ON public.skills USING btree ("userId", name);


--
-- Name: suppression_entries_userId_domain_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "suppression_entries_userId_domain_key" ON public.suppression_entries USING btree ("userId", domain);


--
-- Name: suppression_entries_userId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "suppression_entries_userId_idx" ON public.suppression_entries USING btree ("userId");


--
-- Name: users_email_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX users_email_key ON public.users USING btree (email);


--
-- Name: users_slug_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX users_slug_key ON public.users USING btree (slug);


--
-- Name: answer_bank_items answer_bank_items_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.answer_bank_items
    ADD CONSTRAINT "answer_bank_items_userId_fkey" FOREIGN KEY ("userId") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: apply_packs apply_packs_opportunityId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.apply_packs
    ADD CONSTRAINT "apply_packs_opportunityId_fkey" FOREIGN KEY ("opportunityId") REFERENCES public.opportunities(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: apply_packs apply_packs_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.apply_packs
    ADD CONSTRAINT "apply_packs_userId_fkey" FOREIGN KEY ("userId") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: approval_records approval_records_applyPackId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.approval_records
    ADD CONSTRAINT "approval_records_applyPackId_fkey" FOREIGN KEY ("applyPackId") REFERENCES public.apply_packs(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: approval_records approval_records_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.approval_records
    ADD CONSTRAINT "approval_records_userId_fkey" FOREIGN KEY ("userId") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: audit_logs audit_logs_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.audit_logs
    ADD CONSTRAINT "audit_logs_userId_fkey" FOREIGN KEY ("userId") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: companies companies_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.companies
    ADD CONSTRAINT "companies_userId_fkey" FOREIGN KEY ("userId") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: contacts contacts_companyId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.contacts
    ADD CONSTRAINT "contacts_companyId_fkey" FOREIGN KEY ("companyId") REFERENCES public.companies(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: cvs cvs_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.cvs
    ADD CONSTRAINT "cvs_userId_fkey" FOREIGN KEY ("userId") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: experiences experiences_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.experiences
    ADD CONSTRAINT "experiences_userId_fkey" FOREIGN KEY ("userId") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: job_preferences job_preferences_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.job_preferences
    ADD CONSTRAINT "job_preferences_userId_fkey" FOREIGN KEY ("userId") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: llm_calls llm_calls_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.llm_calls
    ADD CONSTRAINT "llm_calls_userId_fkey" FOREIGN KEY ("userId") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: notifications notifications_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.notifications
    ADD CONSTRAINT "notifications_userId_fkey" FOREIGN KEY ("userId") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: opportunities opportunities_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.opportunities
    ADD CONSTRAINT "opportunities_userId_fkey" FOREIGN KEY ("userId") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: opportunity_matches opportunity_matches_opportunityId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.opportunity_matches
    ADD CONSTRAINT "opportunity_matches_opportunityId_fkey" FOREIGN KEY ("opportunityId") REFERENCES public.opportunities(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: opportunity_matches opportunity_matches_recommendedCvId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.opportunity_matches
    ADD CONSTRAINT "opportunity_matches_recommendedCvId_fkey" FOREIGN KEY ("recommendedCvId") REFERENCES public.cvs(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: opportunity_requirements opportunity_requirements_opportunityId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.opportunity_requirements
    ADD CONSTRAINT "opportunity_requirements_opportunityId_fkey" FOREIGN KEY ("opportunityId") REFERENCES public.opportunities(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: outreach_messages outreach_messages_companyId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.outreach_messages
    ADD CONSTRAINT "outreach_messages_companyId_fkey" FOREIGN KEY ("companyId") REFERENCES public.companies(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: outreach_messages outreach_messages_contactId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.outreach_messages
    ADD CONSTRAINT "outreach_messages_contactId_fkey" FOREIGN KEY ("contactId") REFERENCES public.contacts(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: outreach_messages outreach_messages_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.outreach_messages
    ADD CONSTRAINT "outreach_messages_userId_fkey" FOREIGN KEY ("userId") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: products products_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.products
    ADD CONSTRAINT "products_userId_fkey" FOREIGN KEY ("userId") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: profiles profiles_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.profiles
    ADD CONSTRAINT "profiles_userId_fkey" FOREIGN KEY ("userId") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: projects projects_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.projects
    ADD CONSTRAINT "projects_userId_fkey" FOREIGN KEY ("userId") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: sessions sessions_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.sessions
    ADD CONSTRAINT "sessions_userId_fkey" FOREIGN KEY ("userId") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: skills skills_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.skills
    ADD CONSTRAINT "skills_userId_fkey" FOREIGN KEY ("userId") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: suppression_entries suppression_entries_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.suppression_entries
    ADD CONSTRAINT "suppression_entries_userId_fkey" FOREIGN KEY ("userId") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict DLOnG4VuWTWHBJyolGpNsNRUfB71gHRgUd41wXc8C1Fd6Ixlv9aGmGTkSuKE02c

